APP_NAME=SODASA
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://TU-BACKEND.up.railway.app
FRONTEND_URL=https://TU-FRONTEND.up.railway.app

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=${{MySQL.MYSQLHOST}}
DB_PORT=${{MySQL.MYSQLPORT}}
DB_DATABASE=${{MySQL.MYSQLDATABASE}}
DB_USERNAME=${{MySQL.MYSQLUSER}}
DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

ADMIN_EMAIL=admin@administrativo.local
ADMIN_NAME=Administrador
ADMIN_PASSWORD=
